@use '../../assets/sass/abstracts/variables' as *;

.iconContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    .line {
        height: 2px;
        background-color: $color-accent-gold;
        flex-grow: 1;
    }

    .anchor-icon {
        color: $color-accent-gold;
        width: 50px;
        height: 50px;
    }

}