@use '../../assets/sass/abstracts/variables' as *;

.iconContainer {
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: center;
    // gap: .2rem;

    .line {
        height: 2px;
        background-color: $color-accent-gold;
        flex-grow: 1;
    }

    .rope-image {
           object-fit: contain;
    }

    .anchor-icon {
        // color: $color-accent-gold;
        max-width: 12%;
        height: auto;
    }

}