@use '../abstracts/mixins' as *;

$font-family-primary: "Playfair Display", serif;
$font-family-secondary: "Roboto",
    sans-serif;
$font-family-pretitle: "Jost",
    sans-serif;
$font-family-hero: "Playfair Display SC",
    serif;

$font-family-cursive: "Tangerine",
 cursive;

//Font Family 

.heroHeadingText {
    font-family: $font-family-hero;
    // font-size: 4rem;
    font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

.heroParagraph {
    font-family: $font-family-pretitle;
    font-size: clamp(1.2rem, 3vw + .5rem, 1.7rem);
}

.heroPreheading  {
    font-family: $font-family-cursive;
    font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

body {
    font-family: $font-family-secondary;
    font-size: 1rem;
    // line-height: 1.5;
}

nav {
    font-family: $font-family-primary;
    font-size: 1.15rem;
}


h1,
h2 {
    font-family: $font-family-primary;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-family: $font-family-secondary;
}

button {
    font-family: $font-family-pretitle;
}

/* Responsive Typography for Mobile */
@include lg {


    h1 {
        font-size: 3rem;

    }

    h2 {
        font-size: 2rem;

    }
}


@include sm {


    h1 {
        font-size: 2.5rem;

    }

    h2 {
        font-size: 1.8rem;
    }

}