@use '../../sass/abstracts/' as *;

.about {

    h1,
    h2 {
        margin-bottom: 1rem;
    }

    &__hero {
        width: 100%;
        height: 600px;
        padding: 5rem 5rem;
        margin-bottom: 2rem;
        background: url('/about1.jpg') no-repeat;
        background-size: cover;
        background-position: 20% 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @include md {
            padding: 2rem;
            margin-bottom: 1rem;
            grid-template-columns: 1fr;
            align-items: end;
        }


        .hero-title {
            padding: 1rem;
            background-color: rgba($color-primary, .45);
            border-radius: 10px;
        }


    }

    &__team {
        padding:  0 3rem 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        @include md {
            padding: 0 0 2rem;
        }


        .team-title {
            padding: 1rem;
            margin-bottom: 2rem;
            width: fit-content;
            text-align: center;

            @include md {
                width: 100%;
            }
        }

        .team-members{
           
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            @include md {
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            @include sm {
                grid-template-columns: 1fr;
            }
        }
    }

    &__section1 {
        background-color: $color-background-light-grey;


        .about-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}